@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<div class="jumbotron">
	<div id="container" style="min-width:310px; height:400px; max-width:600px; margin: 0 auto"></div>
</div>

<script>
	$(document).ready(function () {
		$.getJSON("/Companys/GetData", function (data) {

			Highcharts.chart('container', {
				chart: {
					plotBackgroundColor: null,
					plotBorderWidth: null,
					plotShadow: false,
					type: 'pie'
				},
				title: {
					text: 'Data visualization of reports'
				},
				credits: {
					enabled: false
				},
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				accessibility: {
					point: {
						valueSuffix: '%'
					}
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: true,
							format: '<b>{point.name}</b>: {point.percentage:.1f} %'
						}
					}
				},
				series: [{
					name: 'Reports',
					colorByPoint: true,
					data: [{
						name: 'Regd Reports',
						y: data.RepData
					}, {
						name: 'Done Reports',
							y: data.IsDone
					}, {
						name: 'Ongoing Reports',
							y: data.OnGoing
					}, {
							name: 'Unhandled Reports',
							y: data.UnHandled
					}]
				}]
			});
		});
	});

</script>