@model  IEnumerable<XJob.Models.Report>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="reports" class="table table-bordered table-hover">
	<thead>
		<tr>

			<th>Reports</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var rep in Model)
		{
			<tr>
				<td>
					@if (rep.IsDone == true)
					{
						@Html.ActionLink(rep.Title, "Details", "Companys", new { id = rep.Id }, null)
					}
					else
					{
						@Html.ActionLink(rep.Title, "Details", "Companys", new { id = rep.Id }, null)
					}
				</td>
				<td>
					<button data-report-id="@rep.Id" class="btn-link js-delete">Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>



@section scripts
{
	<script>
		$(document).ready(function () {
			$("#reports").on("click", ".js-delete" ,function () {
				var button = $(this);

				bootbox.confirm("Are you sure you want to delete this report?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/reports/" + button.attr("data-report-id"),
							method: "DELETE",
							success: function () {
								button.parents("tr").remove();
							}
						});
					}
				});
			});
		});
	</script>
}




@*$(document).ready(function () {
		$("#reports").DataTable();

		$("#reports").on("click", ".js-delete", function () {
			var button = $(this);

			bootbox.confirm("Are you sure you want to delete this report?", function(result){
				if (result) {
					$.ajax({
						url: "/api/reports/" + button.attr("data-report-id"),
						method: "DELETE",
						success: function () {
							console.log("success");
							button.parents("tr").remove();
						}
					})
				}
			});
		});
	});*@